.logo {
  width: 77px;
  height: 77px;
}

.name{
  height: 60px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.title{
  height: 60px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.img-responsiveness{
  width: 1000px;
}
