body {
 color: #FFFFFF;
}
h1 {
 color: #02b3e4;
 text-align: right;
 font: arial 200% fantasy;
 font-size: 36px;
 margin-right: auto;
 margin-left: auto;
 padding-right: 20px;
}

h4 {
  color: #02b3e4;
  font: arial;
  text-align: right;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}
p {
 color: #333300;
 text-align: center;
 border: 3px groove #FFFF33;
}

.udacity{
  padding-left: 20px;
  position: fixed;
  left:20px;
  top:20px;
  right: 20px;
  width: 200px;
}
.image-profile{
  position: relative;
  align-items: center;
}
