.content{
  display: flex;
  flex-wrap: wrap;
}

.header__menu{
  display: hidden;
}

@media screen and (max-width: 549px){
  .header__logo{
  height: 48px;
  margin-right: 0.5em;
}

  .header__title{
    margin-left: 1em;
    font-size: 2em;
    vertical-align: bottom;
  }

  .nav{
    z-index: 10;
    position: absolute;
    background-color: #fff;
    width: 300px;

    -webkit--transform: translate(-300px;0);
    transform: translate(-300px;0);
    transition: transform 0.3s ease;
  }

  .nav.open{
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
  }

  





}
